# Visual Studio 生成了具有 C++ 设置的 .editorconfig 文件。
root = true

[*]

#编码方式,有以下几种类型：latin1, utf-8, utf-8-bom, utf-16be, utf-16le
charset = utf-8-bom# 文件编码字符集为 UTF-8（BOM）


[*.{c++,cc,cpp,cppm,cu,cuh,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]